!!!
html
	head
		title= "Bagalor Chat"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')


	body
		// Chat Box
		#content(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
		// User List Box
		#userListBox(style='width:175px; height: 300px; margin: 0 0 20px 20px; border: solid 1px #999; overflow-y:scroll; position: absolute; left: 530px; top: 10px;')
	.controls
		| Name:	
		input#name(style='width:175px; maxlength:10')
		br
		input#field(style='width:350px;')
		input#send(type='button', value='send')
